$primary-color: #3d3558;
$secondary-color: rgba(26, 238, 132, 0.79);
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: .7;
$fontSize: 3em;
$font-family: fontello;
$text-align: center;
$fontFamily: 'uni 05_53';
$btnDarkColor: #333;
$btnLightColor: #fff;
